/Lab3/Lab3/nbproject/private/
/Lab3/Deck/nbproject/private/
/Lab3/Deck/build/
/Lab3/PoneKlarren/nbproject/private/
/Lab3/Deck/dist/
/Project/Project/nbproject/private/
/Project/nbproject/private/
/Project2/nbproject/private/
/Project2 - kopia/nbproject/private/