html, body { height: 100%; margin: 0; padding: 0; }
#map {/* width: 100%; */}

#map{
   max-width: 1000px;
   height: 1000px;
}

#myChart{
   max-width: 600px;
   margin-top: 10px;
   border-width: 1px;
   border-style: solid;
}

#form1
{
    float:left;
    margin-right: 10px;
}

#getSCB
{
  display: block;
  height: 34px;
}

.Message 
{
    border-style:dotted;
    border-width:1px;
    min-height:40px;
}
.Subcategory 
{
    font-weight: bold;
}
#categories
{
    font-weight: bold;
    color: red;
}
#categories label
{
    font-weight: bold;
    color: black;
}


.Hide 
{
    display:none;
}
.Show 
{
    display:block;
}
