body, html{ 
    height: 100%; 
    margin: 0; 
    padding: 0;
    background-color: lightblue;
}

.container{
    background-color: white;
    margin-top:20px;
}
#map{
   max-width: 1150px;
   height: 800px;
   margin-top: 10px;
}

#policeReports
{
    font-weight: bold;
    color: red;
}

#myChart1{
   max-width: 560px;
   margin-top: 10px;
   margin-right: 10px;
}
#myChart2{
   max-width: 560px;
   margin-top: 10px;
}

#formSelection
{
    float:left;
    margin-right: 10px;
}

#getSCB
{
  display: block;
  float:left;
  height: 34px;
  margin-right: 10px;   
}

#error 
{
    border-style:solid;
    border-width:2px;
    min-height:40px;
    font-style: bold;
    color:red;
    width:800px;
}

.Hide 
{
    display:none;
}
.Show 
{
    display:block;
}
