html, body { height: 100%; margin: 0; padding: 0; background-color: #DEE9FF;}


#header {
    text-align : center;
    margin-left: auto;
    margin-right: auto;
    
}
#map{
   max-width: 1000px;
   height: 1000px;
   margin-top: 10px;
}

#myChart{
   max-width: 600px;
   margin-top: 10px;
   border-width: 1px;
   border-style: solid;
}

#form1
{
    float:left;
    margin-right: 10px;
}

#getSCB
{
  display: block;
  float:left;
  height: 34px;
  margin-right: 10px;   
}
.container{
    width : 1000px;
}

#error 
{
    border-style:solid;
    border-width:2px;
    min-height:40px;
    font-style: bold;
    color:red;
}


.Hide 
{
    display:none;
}
.Show 
{
    display:block;
}
